.content {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  height: 500px;
  width: 50%;
}

.item {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  height: auto;
  width: 250px;
  height: 50px;
}
